<ul class="menu">
  <% BeastAdmin.config.routes.each do |link|%>
    <li>
      <a href="<%= Rails.application.routes.url_helpers.send("#{link[:index]}_path") %>"><%= link[:name] %></a>
    </li>
  <% end %>
</ul>