<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title><%= @ba_page_title || 'Beast Admin' %></title>
    <%= stylesheet_link_tag('application', media: 'all') %>
  </head>
  <body class="beast-admin">

    <div class="wrapper">

      <div class="header">
        <%= render file: "#{@ba_partials_path}/menu" %>

      </div>

    </div>

    <div class="footer">

    </div>
  </body>
</html>