@import "menu";
@import "table";
@import "button";

html, body {
  display: block;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;

  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}

.beast-admin {

  .wrapper {
    min-height: 100%;

    &:after {
      display: block;
      content: '';
      height: 100px;
    }
  }

  .header {
    background: #000000;

    &:after {
      display: block;
      content: '';
      clear: both;
      height: 0;
      width: 0;
    }
  }

  .footer {
    height: 80px;
    margin: -80px 0 0 0;
    background: #000;
  }

}